* {
  margin: 0;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}
/* overlay */
.overlay1 {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  background: rgba(245, 245, 247, 0.8);
}
.iconapple1 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlplay2 {
  width: 144px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* overlay end */
/* text we are */
.textdiv1 {
  width: 3;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textweare {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 18px;
}
/* text we are end */
/* apple image */
.applediv {
  width: 100%;
  height: 500px;
  background-image: url("./Figure@2x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.appledotor {
  width: 241px;
  height: 114px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 36px;
  flex-direction: column;
  gap: 16px;
}
.promax {
  width: 241;
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Promaxfont {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
}
.hellofont {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}
.learnbuy {
  width: 241px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.learnbutton {
  width: 107px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
.learnbuttonback {
  background: #0071e3;
}
.learnbuttonfont {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.learnbuttoncolor {
  color: #fff;
}
.buybutton {
  width: 66px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
.buybuttunsolid {
  border: 1px solid #2997ff;
}
.buybuttonfont {
  color: #2997ff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
/* apple image end */
/* iphone tsenher */
.tseheriphoneback {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./tseher\ iphone.png);
}
.appledotor1 {
  width: 241px;
  height: 114px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 36px;
  flex-direction: column;
  gap: 16px;
}
.learnbuttonback1 {
  background: #f5f5f7;
}
.learnbuttoncolor1 {
  color: #000000;
}
.buybuttoncolor1 {
  color: #ffffff;
}
.buybuttunsolid1 {
  border: 1px solid #fff;
}
/* ihpone tsenher end */
/* ipad air */
.ipadiwatch {
  display: grid;
  grid-template-columns: 1fr;
}
.airpodsdoto2 {
  display: none;
}
.ipaddiv {
  width: 100%;
  height: 500px;
  background-image: url(./ipad.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.ipaddotor {
  width: 100%;
  height: 134px;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ipadtextwh {
  width: 180px;
  height: 42px;
  width: 180px;
  height: 41.86px;
  aspect-ratio: 43/10;
}
.twosizefont {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  padding-top: 8px;
}
.classipadlearn {
  padding-top: 16px;
}
.helloapplefont {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 36px;
}
/* ipad air end */
/* air pods4 */
.airpodsdiv {
  width: 100%;
  height: 500px;
  background-image: url(./airpods.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.aipodsdotor {
  width: 241px;
  height: 147px;
  padding-bottom: 74px;
}
.airpodsdoto1 {
  width: 241px;
  height: 91px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.airpods4font {
  color: #f5f5f7;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.icontextfont {
  color: #f5f5f7;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
/* airpods4 end */
/* iwatch */
.iwatchdiv {
  width: 100%;
  height: 500px;
  background-image: url(./iwatch.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.iwatchdivdotor {
  width: 235px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.vectoriwatch {
  width: 235px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 46px;
}
.vector {
  width: 22px;
  height: 27px;
  fill: rgba(0, 0, 0, 0.8);
}
.watchfont {
  width: 121px;
  height: 34px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seriesfont {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.thinfont {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.spandiv {
  width: 152px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* iwatch end */
/* MacBook Air */
.imacdiv {
  width: 100%;
  height: 500px;
  background-image: url(./macorg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.imacdivdotor {
  width: 257px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding-top: 36px;
}
.textimac {
  width: 257px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.macfont {
  width: 257px;
  height: 37px;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 66.667% */
}
.leanfont {
  width: 277px;
  height: 23px;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
/* Macair end */
/* small bus */
.smallbusdiv {
  width: 100%;
  height: 500px;
  background-image: url(./smallbus.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.smallbusdotor {
  width: 257px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 46px;
  gap: 4px;
}
.appleforfont {
  width: 257px;
  height: 72px;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
}
.hardwarefont {
  width: 257px;
  height: 40px;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.Learnbuttonsolo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
/* small bus end */
/*  carrier deals */
.carrierdealsdiv {
  width: 100%;
  height: 500px;
  background-image: url(./carrier.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.carrierdivdotor {
  width: 314px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 47px;
  gap: 4px;
}
.carriertextsize {
  width: 314px;
  height: 36px;
  color: #1d1d1f;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
}
.getupfont {
  width: 314px;
  height: 60px;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.learnbutton1 {
  width: 126px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
/* carrier deals end */
/* thunder  */
.thunderdiv {
  width: 100%;
  height: 500px;
  background-image: url(./thunder.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.thunderdivdotor {
  width: 285px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 51px;
}
.vectordiv1 {
  width: 152px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.tradeinfont {
  width: 121px;
  height: 34px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.vectorsize1 {
  width: 22px;
  height: 27px;
}
.creditclass {
  width: 285px;
  height: 40px;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.learnbutton2 {
  width: 150px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
/* thunder end */
/* slideshow CONTAI */
.scroll-container {
  width: 100vw;
  overflow: scroll;
}
.scroll {
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.sizescroll {
  width: 274px;
  height: 495px;
}
.scrolldiv {
  background-image: url(./Link.png);
  background-repeat: no-repeat;
}
.scrolldiv1 {
  background-image: url(./Link-1.png);
}
.scrolldiv2 {
  background-image: url(./Link-2.png);
}
.scrolldiv3 {
  background-image: url(./Link-3.png);
}
.scrolldiv4 {
  background-image: url(./Link-4.png);
}
.scrolldiv5 {
  background-image: url(./Link-5.png);
}
.scrolldiv6 {
  background-image: url(./Link-6.png);
}
.scrolldiv7 {
  background-image: url(./Link-7.png);
}
.airpodiwatch {
  display: grid;
  grid-template-columns: 1fr;
}
.applehamilion,
.scroll-container,
.hamgindoodtal,
.scroll-dood,
.imacdiv3,
.iwatchdivdotor3,
.thunderdivdotor3,
.thunderdivdotor4,
.scroll222,
.doodtdotorh3 {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .applediv {
    width: 100%;
    height: 650px;
    background-image: url(./horizontaliphone.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .appledotor {
    padding: 58px;
    width: 405px;
    height: 156px;
  }
  .overlay1 {
    height: 60px;
  }
  .textdiv {
    height: 60px;
  }
  .tseheriphoneback {
    width: 100%;
    height: 650px;
    background-image: url(./iphonetsenherhorizontal.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .appledotor1 {
    padding: 58px;
    width: 405px;
    height: 156px;
  }
  .ipaddiv {
    width: 100%;
    height: 650px;
    background-image: url(./ipadtable.png);
    background-size: cover;
  }
  .ipaddotor {
    padding: 58px;
    width: 405px;
    height: 139px;
  }
  .airpodiwatch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }

  .airpodsdiv,
  .iwatchdiv {
    width: 100%;
  }
  .macbooksmallbus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  .imacdiv,
  .smallbusdiv {
    width: 100%;
  }
  .carrierthunder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  .carrierdealsdiv,
  .thunderdiv {
    width: 100%;
  }
  /* scroll */
  .scroll-dood {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .scroll-container {
    display: none;
  }
  .sizescroll1 {
    width: 689px;
    height: 368px;
    scroll-snap-align: start; /* Snap to the start of each item */
    padding: 1rem;
    color: white;
  }

  .sizescroll1:focus {
    outline: 4px solid #2c2b2b; /* Highlight the focused item */
    transform: scale(1.05); /* Add a subtle scaling effect */
    transition: all 0.2s ease-in-out;
  }
  .scrolldood1 {
    background-image: url(./Link-8.png);
    display: flex;
    justify-content: start;
    align-items: flex-end;
  }
  .scroll22 {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .zuragdotor {
    width: 520px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    gap: 16px;
  }
  .steamnow {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fontsss {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-align: center;
  }
  .fontdrama {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 117.647% */
  }
  /* hamgiindood scroll */
  .hamgindoodtal {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .doodtdotorh {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .sizescroll333 {
    width: 286px;
    height: 194px;
    scroll-snap-align: start; /* Snap to the start of each item */
    padding: 1rem;
    color: white;
  }
  .sizescroll333:focus {
    outline: 4px solid #2c2b2b; /* Highlight the focused item */
    transform: scale(1.05); /* Add a subtle scaling effect */
    transition: all 0.2s ease-in-out;
  }
  .scrooldood,
  .scrooldood1,
  .scrooldood2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .dotrindotor {
    width: 286px;
    height: 131px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
  }
  .laoficalfont {
    color: #1d1d1f;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.224px;
  }
  .ungu {
    background-color: purple;
  }
  .ungu1 {
    background-color: darkgreen;
  }
  s .ungu2 {
    background-color: black;
  }
  .applehamilion,
  .imacdiv3,
  .iwatchdivdotor3,
  .thunderdivdotor3,
  .thunderdivdotor4,
  .scroll222,
  .doodtdotorh3 {
    display: none;
  }
}
@media (min-width: 1024px) {
  .applediv {
    width: 100%;
    height: 692px;
    background-image: url(./promaxdesk.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .tseheriphoneback {
    width: 100%;
    height: 650px;
    background-image: url(./tsenherdesk.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .applehamilion {
    width: 100%;
    height: 692px;
    background-image: url(./applehameliom.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .hamiliondotor {
    width: 405px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 82px;
    gap: 16px;
  }
  .dotorhtext {
    width: 405px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
  .giftfont {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 115.385% */
    letter-spacing: -0.28px;
  }
  .makefont {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
  }
  .shopgifts {
    width: 114px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background: #0071e3;
  }
  .shopgiftsfont {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: -0.374px;
  }
  .airpodiwatch {
    grid-template-columns: repeat(2, 1fr);
  }

  .airpodsdiv,
  .iwatchdiv {
    width: 100%;
  }
  .ipadiwatch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  .ipaddiv {
    background-image: url(./ipaddesk.png);
    background-size: cover;
    background-position: center;
  }
  .airpodsdesk {
    width: 100%;
    height: 100%;
    background-image: url(./airpodsdesk.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .aipodsdotor1 {
    width: 370px;
    height: 147px;
    padding-bottom: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .airpodsdoto2 {
    width: 370px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .airpods4font1 {
    color: #f5f5f7;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
  }
  .icontextfont1 {
    color: #f5f5f7;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
  }
  .learnbuy1 {
    width: 241px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .airpodiwatch,
  .macbooksmallbus,
  .carrierdealsdiv,
  .thunderdiv,
  .scroll-container,
  .hamgindoodtal,
  .scroll-dood {
    display: none;
  }
  /* iwatchmackbook */
  .iwatchmackbook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  .iwatchdiv3 {
    width: 100%;
    height: 500px;
    background-image: url(./deskiwatch.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .iwatchdivdotor3 {
    width: 235px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .vectoriwatch3 {
    width: 235px;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 46px;
  }
  .imacdiv3 {
    width: 100%;
    height: 500px;
    background-image: url(./deskmack.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .imacdivdotor3 {
    width: 257px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-top: 36px;
  }
  /* thunder */
  .tadeincard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
  .thunderdiv3 {
    width: 100%;
    height: 500px;
    background-image: url(./deskthuner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .thunderdivdotor3 {
    width: 285px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 51px;
  }
  .thunderdiv4 {
    width: 100%;
    height: 500px;
    background-image: url(./carddesk.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .thunderdivdotor4 {
    width: 285px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 51px;
  }
  .vectordiv3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .tradeinfont4 {
    width: 76px;
    height: 39px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .learnbuy3 {
    width: 241px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .buybutton3 {
    width: 112px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
  }
  /* scroll */
  .scroll-dood3 {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .scroll222 {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .scrolldood12 {
    background-image: url(./fly\ me\ to\ moon.png);
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: flex-end;
  }
  .zuragdotor1 {
    width: 530px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    gap: 16px;
  }
  .steamnow2 {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fontsss3 {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-align: center;
  }
  .sizescroll12 {
    width: 1250px;
    height: 668px;
    scroll-snap-align: start; /* Snap to the start of each item */
    padding: 1rem;
    color: white;
  }

  .sizescroll1:focus {
    outline: 4px solid #2c2b2b; /* Highlight the focused item */
    transform: scale(1.05); /* Add a subtle scaling effect */
    transition: all 0.2s ease-in-out;
  }

  .fontdrama3 {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 117.647% */
  }
  /* dood scroll */
  .hamgindoodtal3 {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .doodtdotorh3 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
  }
  .sizescroll333 {
    width: 286px;
    height: 194px;
    scroll-snap-align: start; /* Snap to the start of each item */
    padding: 1rem;
    color: white;
  }
  .sizescroll334:focus {
    outline: 4px solid #2c2b2b; /* Highlight the focused item */
    transform: scale(1.05); /* Add a subtle scaling effect */
    transition: all 0.2s ease-in-out;
  }
  .scrooldood13,
  .scrooldood25,
  .scrooldood26 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .dotrindotor {
    width: 417px;
    height: 236px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 15px;
  }
  .laoficalfont {
    color: #1d1d1f;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.224px;
  }
  .ungu {
    background-image: url(./firstdood.png);
    background-size: cover;
  }
  .improvefont {
    width: 223px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.224px;
  }
  .ungu1 {
    background: #1b2632;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  .ungu1font {
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.224px;
  }
  .ungu2 {
    background-image: url(./celtics.png);
    background-size: cover;
  }
  .ungu3 {
    background-image: url(./gym.png);
    background-size: cover;
  }
  .ungu4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ebb799;
  }
}
