* {
  margin: 0%;
}
/* Overlay */
.iconDiv {
  display: flex;
  justify-content: space-around;
  width: 144px;
  height: 48px;
}
.icon {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 0 15.5px;
  justify-content: center;
  align-items: center;
}
.icon2 {
  display: flex;
  width: 18px;
  height: 18px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.icon3 {
  display: flex;
  width: 49px;
  height: 48px;
  padding: 0 15px 0 16px;
  justify-content: center;
  align-items: center;
}
.overlay {
  display: flex;
  background: rgba(245, 245, 247, 0.8);
  justify-content: space-between;
}
/* Container */
.container {
  display: flex;
  height: 73px;
  padding: 18px 31px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #fff;
}
.text1 {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-optical-sizing: auto;
}
/* Link */
.link {
  height: 500px;
  background: url(/Figure\\(3\).png) lightgray 0px 0px / 100% 100% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 12px solid #fff;
  justify-content: center;
  display: flex;
}
.text2 {
  color: #f5f5f7;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.text3 {
  color: #f5f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}
.frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.font {
  font-family: Inter;
  text-align: center;
  font-style: normal;
}
.frame2 {
  display: flex;
  width: 241px;
  align-items: center;
  gap: 16px;
  justify-content: center;
}
.text4 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 999px;
  background: #0071e3;
  padding: 8px 16px;
}
.text5 {
  color: #2997ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 999px;
  border: 1px solid #2997ff;
  padding: 8px 20px;
}
.frame3 {
  display: flex;
  width: 241px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding-bottom: 36px;
  padding-top: 350px;
}
/* Link 2 */
.link2 {
  height: 500px;
  background: url(/Figure\\(2\).png) lightgray 0px 0px / 100% 100% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 12px solid #fff;
  justify-content: center;
  display: flex;
}
.text6 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 999px;
  background: #fff;
  padding: 8px 16px;
}
.text7 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 999px;
  border: 1px solid #fff;
  padding: 8px 20px;
}
.frame4 {
  display: flex;
  width: 241px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding-top: 36px;
}
/* Link 3 */
.link3 {
  height: 500px;
  background: url(/421da7b86f74db639b131d85fb645c3a6cbc8dbc.jpg) lightgray 0px
    0px / 100% 100% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 12px solid #fff;
  justify-content: center;
  display: flex;
}
.text8 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}
.text9 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img1 {
  width: 180px;
  height: 41.86px;
  aspect-ratio: 43/10;
  display: flex;
  align-items: center;
}
.frame5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.frame6 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.frame7 {
  display: flex;
  width: 241px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 36px;
  padding-top: 36px;
  justify-content: space-between;
}
/* Link 4 */
.lin4 {
  height: 500px;
  background: url(/Figure\\(3\).png) lightgray 0px 0px / 100% 100% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 12px solid #fff;
  justify-content: center;
  display: flex;
}
